<!DOCTYPE html>
<html>
  <head>
      <title>大连金牌拓展训练俱乐部-野外拓展|亲子活动|企业培训|Outward Bound</title>
      <meta name="description" content="野外拓展|亲子活动|企业培训|Outward Bound">
      <meta name="keywords" content="野外拓展 亲子活动 企业培训 Outward Bound">
     <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎访问 <%= title %> 官方网站</p>
    <p>网站正在建设中...</p>
  </body>
</html>