<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="description" content="大连金牌户外拓展，为企业，个人提供专业的拓展培训服务"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="img/cfoot1-150x150.jpg"/>
    <meta name="keywords" content="野外拓展 亲子活动 企业培训 Outward Bound">
    <title> 大连金牌拓展</title>

    <link rel="stylesheet" type="text/css" media="all" href="css/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script type='text/javascript' src='js/jquery.js?ver=1.10.2'></script>
    <script type='text/javascript' src='js/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='js/jquery.flexslider.js?ver=3.7.1'></script>
    <script type='text/javascript' src='js/jquery.elastislide.js?ver=3.7.1'></script>
    <script type='text/javascript' src='js/scripts.js?ver=3.7.1'></script>
    <script type='text/javascript' src='js/ticker.js?ver=3.7.1'></script>
    <script type='text/javascript' src='js/respond.min.js?ver=3.7.1'></script>

    <meta name="generator" content="dalianjinpai"/>

</head>

<body class="home blog">

<div id="site">
<div id="header-top-wrapper">
    <div id="header-top">
        <div id="header-top-left">
            <div class="menu-secondary-menu-container">
                <ul id="menu-secondary-menu" class="menu">
                    <li id="menu-item-11650"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11650"><a
                            href="http://www.mvpthemes.com/support">Support Center</a></li>
                    <li id="menu-item-11533"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11533"><a
                            href="http://#">Contact</a></li>
                    <li id="menu-item-11534"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11534"><a
                            href="http://#">Subscribe</a></li>
                </ul>
            </div>
        </div>
        <!--header-top-left-->
        <div id="header-top-right">
            <form method="get" id="searchform" action="#">
                <input type="text" name="s" id="s" value="Search site"
                       onfocus='if (this.value == "Search site") { this.value = ""; }'
                       onblur='if (this.value == "") { this.value = "Search site"; }'/>
                <input type="hidden" id="search-button"/>
            </form>
        </div>
        <!--header-top-right-->
    </div>
    <!--header-top-->
</div>
<!--header-top-wrapper-->
<div id="header-wrapper">
    <div id="header">
        <div id="header-contain">
            <div id="header-bottom">
                <div id="logo">
                    <a href="#"><img src="img/logo.png" alt="Resportsive Theme"/></a>
                </div>
                <!--logo-->
                <div id="news-ticker">
                    <ul id="ticker">


                        <li>  <i class="fa fa-phone"></i> :13840816188  <br></li>
                        <li>  <i class="fa fa-envelope-o"></i>: service#dalianjinpai.com  <br></li>
                    </ul>
                </div>

            </div>
            <!--header-bottom-->
            <div id="nav-main">
                <div class="menu-primary-menu-container">
                    <ul id="menu-primary-menu" class="menu">
                        <li id="menu-item-11566"
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-11566">
                            <a href="#">首页</a></li>
                        <li id="menu-item-11673"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11673">
                            <a href="http://#">企业拓展</a>
                            <ul class="sub-menu">
                                <li id="menu-item-11675"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11675"><a
                                        href="#/shortcodes/">管理咨询</a></li>
                                <li id="menu-item-11677"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11677"><a
                                        href="#/typography/">职业培训</a></li>
                                <li id="menu-item-11676"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                        href="#/full-page-width/">户外拓展</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                        href="#/full-page-width/">军营集训</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                        href="#/full-page-width/">野外生存</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                        href="#/full-page-width/">徒步穿越</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                        href="#/full-page-width/">CS野战</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                        href="#/full-page-width/">趣味运动会</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                        href="#/full-page-width/">企业年会</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-11519"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11519">
                            <a href="#">青少年拓展</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">夏冬令营</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">素质培训</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">十八岁成人礼</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">户外拓展</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">军营集训</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">徒步穿越</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">CS野战</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">趣味运动会</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                        href="http://#">校园活动</a></li>

                            </ul>
                        </li>
                        <li id="menu-item-11523"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11523">
                            <a href="">家庭拓展</a>
                            <ul class="sub-menu">
                                <li id="menu-item-11539"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11539"><a
                                        href="http://#">户外拓展</a></li>
                                <li id="menu-item-11540"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11540"><a
                                        href="http://#">军营集训</a></li>
                                <li id="menu-item-11537"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11537"><a
                                        href="http://#">徒步穿越</a></li>
                                <li id="menu-item-11538"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a
                                        href="http://#">CS野战</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a
                                        href="http://#">亲子趣味竞技</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a
                                        href="http://#">户外垂钓</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-11529"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11529"><a
                                href="#/category/nhl/">VIP订制</a></li>
                        <li id="menu-item-11528"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11528"><a
                                href="#/category/ncaa-fb/">金牌团队</a></li>


                    </ul>
                </div>
            </div>
            <!--nav-main-->
            <div id="nav-mobi">
                <div class="flip">目录</div>
                <div class="panel">
                    <div class="menu-primary-menu-container">
                        <ul id="menu-primary-menu-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-11566">
                                <a href="http://www.mvpthemes.com/resportsive/">Home</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11673">
                                <a href="http://#">企业拓展</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11675">
                                        <a href="#/shortcodes/">管理咨询</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11677">
                                        <a href="#/typography/">职业培训</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676">
                                        <a href="#/full-page-width/">户外拓展</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676">
                                        <a href="#/full-page-width/">军营集训</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676">
                                        <a href="#/full-page-width/">野外生存</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676">
                                        <a href="#/full-page-width/">徒步穿越</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676">
                                        <a href="#/full-page-width/">CS野战</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676">
                                        <a href="#/full-page-width/">趣味运动会</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676">
                                        <a href="#/full-page-width/">企业年会</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11519">
                                <a href="#">青少年拓展</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">夏冬令营</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">素质培训</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">十八岁成人礼</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">户外拓展</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">军营集训</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">徒步穿越</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">CS野战</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">趣味运动会</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541">
                                        <a href="http://#">校园活动</a></li>

                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11523">
                                <a href="">家庭拓展</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11539">
                                        <a href="http://#">户外拓展</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11540">
                                        <a href="http://#">军营集训</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11537">
                                        <a href="http://#">徒步穿越</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538">
                                        <a href="http://#">CS野战</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538">
                                        <a href="http://#">亲子趣味竞技</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538">
                                        <a href="http://#">户外垂钓</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11529"><a
                                    href="#/category/nhl/">VIP订制</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11528"><a
                                    href="#/category/ncaa-fb/">金牌团队</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--nav-mobi-->
        </div>
        <!--header-contain-->
    </div>
    <!--header-->
</div>
<!--header-wrapper-->
<div id="wrapper">
<div id="wrapper-inner">
<div id="leaderboard">
    <img src="img/banner.gif" alt="728 x 90 ad"/></div>
<!--leaderboard-->
<div id="content">
<div id="main">
<div id="home-top">
    <div id="home-feature">
        <div class="flexslider-container">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <a href="#/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark"
                           title="Young willing to do anything to help Bills win" class="img-shadow"><img width="610"
                                                                                                          height="400"
                                                                                                          src="img/221700e64931o9ss692whp.jpg"
                                                                                                          class="attachment-post-thumb wp-post-image"
                                                                                                          alt="cfoot1"/></a>

                        <div class="home-feature-box">
                            <h1><a href="#/2012/05/young-willing-to-do-anything-to-help-bills-win/">极限登山拓展</a></h1>

                            <p>登山运动是体育运动的一类。运动员徒手或使用专门装备攀登各种不同地形的山峰或山岭。可分为*金字塔形兵站式登山、阿尔卑斯式登山和技术登山等数种。</p>
                        </div>
                        <!--home-feature-box-->
                    </li>
                    <li>
                        <a href="#/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark"
                           title="Report: Semin, Vokoun won&#8217;t return to Capitals" class="img-shadow"><img
                                width="610" height="400" src="img/20120625183527307.jpg"
                                class="attachment-post-thumb wp-post-image" alt="hockey2"/></a>

                        <div class="home-feature-box">
                            <h1><a href="#/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/">真人CS野战</a>
                            </h1>

                            <p>真人CS激光枪战是一种集运动与游戏于一体，紧张刺激的高科技娱乐活动，在中国兴起起于2002，至今有十年时间，受到真人CS发烧友追捧，现今玩家达到10万人左右。.</p>
                        </div>
                        <!--home-feature-box-->
                    </li>
                    <li>
                        <a href="#/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark"
                           title="Reid recommends lighter McNabb to teams" class="img-shadow">
                            <img width="610" height="400" src="img/wDIAFlLOjNQYpiQD.jpg"
                                 class="attachment-post-thumb wp-post-image" alt="football1"/></a>

                        <div class="home-feature-box">
                            <h1><a href="#/2012/05/reid-recommends-lighter-mcnabb-to-teams/">十八岁成人礼</a></h1>

                            <p>成人礼是一个人从少年儿童时代迈向成人阶段的仪式,在亲友进行成人礼这天,为他们送上成人礼寄语 十八岁成人礼寄语,祝愿他们在人生新的阶段里,步步高升,走出一片天...</p>
                        </div>
                        <!--home-feature-box-->
                    </li>
                    <li>
                        <a href="#/2012/05/tiger-still-looking-for-first-major-win-in-years/" rel="bookmark"
                           title="Tiger still looking for first major win in years" class="img-shadow">
                            <img width="610" height="400" src="img/7-12010G03621334.jpg"
                                 class="attachment-post-thumb wp-post-image" alt="golf1"/></a>

                        <div class="home-feature-box">
                            <h1><a href="#/2012/05/tiger-still-looking-for-first-major-win-in-years/">管理培训</a></h1>

                            <p>如何建设高绩效的管理团队...</p>
                        </div>
                        <!--home-feature-box-->
                    </li>

                </ul>
            </div>
            <!--flexslider-->
        </div>
        <!--flexslider-container-->
    </div>
    <!--home-feature-->
</div>
<!--home-top-->
<div class="home-widget">

    <div class="small-cat-home">
        <h2 class="section"><span class="section">拓展训练场地</span></h2>

        <div class="carousel small-cat-story es-carousel-wrapper">
            <div class="es-carousel">
                <ul>
                    <li>
                        <div class="img-story">
                            <a href="#/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/" rel="bookmark"
                               title="Jaguars&#8217; Knighton apologizes for nightclub fight" class="img-shadow">
                                <img width="145" height="95" src="img/fxwg.jpg"
                                     class="attachment-small-thumb wp-post-image" alt="football2"/></a>
                        </div>
                        <!--img-story-->
                        <a href="#/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/" rel="bookmark">大连金石发现王国</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="#/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark"
                               title="Chandler turns down U.S. training camp invite" class="img-shadow">
                                <img width="145" height="95" src="img/cs.jpg"
                                     class="attachment-small-thumb wp-post-image" alt="soccer4"/></a>
                        </div>
                        <!--img-story-->
                        <a href="#/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">大连cs野战基地</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="#/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark"
                               title="England ace keen to see how Brennan performs" class="img-shadow">
                                <img width="145" height="95" src="img/xhgc.jpg"
                                     class="attachment-small-thumb wp-post-image" alt="soccer1"/></a>
                        </div>
                        <!--img-story-->
                        <a href="#/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/"
                           rel="bookmark">星海广场</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark"
                               title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow">
                                <img width="145" height="95" src="img/bhl.jpg"
                                     class="attachment-small-thumb wp-post-image" alt="baseball1"/></a>
                        </div>
                        <!--img-story-->
                        <a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">滨海路徒步木栈道</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="#/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark"
                               title="Walker expected to be ruled out through injury" class="img-shadow">
                                <img width="145" height="95" src="img/xsh.jpg"
                                     class="attachment-small-thumb wp-post-image" alt="soccer3"/></a>
                        </div>
                        <!--img-story-->
                        <a href="#/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark">西山国家森林公园</a>
                    </li>

                </ul>
            </div>
        </div>
        <!--small-cat-story-->

    </div>
    <!--small-cat-->


</div>
<div class="home-widget">

    <div class="home-cat-wrapper">
        <div class="home-cat-left">
            <div class="section-header">
                <h2><span> 最新活动</span></h2>
            </div>
            <div class="home-story">
                <div class="img-cat2">
                    <a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark"
                       title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow">
                        <img width="300" height="197" src="img/huodong.jpg" class="attachment-half-thumb wp-post-image"
                             alt="baseball1"/></a>
                </div>
                <!--img-cat2-->
                <h1><a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">大连金牌公司成功举办CS野战</a>
                </h1>

                <p>2013年12月1日,100名企业员工在大连旅顺进行了一场激烈的真人CS比赛...</p>
            </div>
            <!--home-story-->
            <div class="home-headlines">
                <ul>
                    <li><a href="#/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/" rel="bookmark">50对家庭进行了滨海路徒步拓展</a>
                    </li>
                    <li><a href="#/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark">力拓公司组织高层进行了管理培训</a>
                    </li>
                </ul>
            </div>
            <!--home-headlines-->
        </div>
        <!--home-cat-left-->
        <div class="home-cat-right">
            <div class="section-header">
                <h2><span>Soccer</span></h2>
            </div>
            <div class="home-story">
                <div class="img-cat2">
                    <a href="#/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark"
                       title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="300"
                                                                                                     height="197"
                                                                                                     src="img/soccer4-300x197.jpg"
                                                                                                     class="attachment-half-thumb wp-post-image"
                                                                                                     alt="soccer4"/></a>
                </div>
                <!--img-story-->
                <h1><a href="#/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">Chandler turns down
                    U.S. training camp invite</a></h1>

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni dolores eos qui ratione voluptatem...</p>
            </div>
            <!--home-story-->
            <div class="home-headlines">
                <ul>
                    <li><a href="#/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark">England
                        ace keen to see how Brennan performs</a></li>
                    <li><a href="#/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark">Walker
                        expected to be ruled out through injury</a></li>
                </ul>
            </div>
            <!--home-headlines-->
        </div>
        <!--home-cat-right-->

    </div>
    <!--home-cat-wrapper-->


</div>
<div class="home-widget">


    <h2 class="section"><span class="section">金牌课程</span></h2>

    <ul class="recent">
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="#/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark"
                       title="Young willing to do anything to help Bills win" class="img-shadow">
                        <img width="145" height="95" src="img/cfoot1-145x95.jpg"
                             class="attachment-small-thumb wp-post-image" alt="cfoot1"/></a>
                </div>
                <!--img-contain-->
                <div class="story-text">
                    <div class="cat-small">
                        <ul class="post-categories">
                            <li><a href="#/category/nfl/" title="View all posts in NFL" rel="category tag">New</a></li>
                        </ul>
                    </div>
                    <h2><a href="#/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark">户外拓展</a></h2>

                    <p>户外拓展课程适合14岁以上人群.</p>
                </div>
                <!--story-text-->
            </div>
            <!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="#/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark"
                       title="Report: Semin, Vokoun won&#8217;t return to Capitals" class="img-shadow"><img width="145"
                                                                                                            height="95"
                                                                                                            src="img/hockey2-145x95.jpg"
                                                                                                            class="attachment-small-thumb wp-post-image"
                                                                                                            alt="hockey2"/></a>
                </div>
                <!--img-contain-->
                <div class="story-text">
                    <div class="cat-small">
                        <ul class="post-categories">
                            <li><a href="#/category/nhl/" title="View all posts in NHL" rel="category tag">New</a></li>
                        </ul>
                    </div>
                    <h2><a href="#/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/"
                           rel="bookmark">CS野战</a></h2>

                    <p>
                        真人CS激光枪战是一种集运动与游戏于一体，紧张刺激的高科技娱乐活动，在中国兴起起于2002，至今有十年时间，受到真人CS发烧友追捧，现今玩家达到10万人左右。真人cs镭战是国际上风行的wargame运动的其中一个种类，也是国内唯一合法并可以普及的wargame运动。</p>
                </div>
                <!--story-text-->
            </div>
            <!--home-story-cat-->
        </li>


        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark"
                       title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow"><img width="145"
                                                                                                             height="95"
                                                                                                             src="img/baseball1-145x95.jpg"
                                                                                                             class="attachment-small-thumb wp-post-image"
                                                                                                             alt="baseball1"/></a>
                </div>
                <!--img-contain-->
                <div class="story-text">
                    <div class="cat-small">
                        <ul class="post-categories">
                            <li><a href="#/category/mlb/" title="View all posts in MLB" rel="category tag">New</a></li>
                        </ul>
                    </div>
                    <h2><a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">十八岁成人礼</a>
                    </h2>

                    <p>成人礼是一个人从少年儿童时代迈向成人阶段的仪式,在亲友进行成人礼这天,为他们送上成人礼寄语 十八岁成人礼寄语,祝愿他们在人生新的阶段里,步步高升,走出一片天....</p>
                </div>
                <!--story-text-->
            </div>
            <!--home-story-cat-->
        </li>
    </ul>


</div>
</div>
<!--main -->

<div id="sidebar-container">


<div class="tabs-wrapper">

    <ul class="tabs">
        <li><a href="#tab1">联系方式</a></li>
        <li><a href="#tab2">留言</a></li>
        <li><a href="#tab3">Comments</a></li>
    </ul>

    <div id="tab1" class="tab-content">
        <!--   <ul>
               <li>
                   <div class="contain">
                       <a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark" title="Young willing to do anything to help Bills win" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="cfoot1" /></a>
                   </div>
                   <div class="text">
                       <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark">Young willing to do anything to help Bills win</a></h2>
                       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
                   </div>
               </li>
               <li>
                   <div class="contain">
                       <a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark" title="Report: Semin, Vokoun won&#8217;t return to Capitals" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/hockey2-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="hockey2" /></a>
                   </div>
                   <div class="text">
                       <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark">Report: Semin, Vokoun won&#8217;t return to Capitals</a></h2>
                       <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse...</p>
                   </div>
               </li>
               <li>
                   <div class="contain">
                       <a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark" title="Reid recommends lighter McNabb to teams" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/football1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="football1" /></a>
                   </div>
                   <div class="text">
                       <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark">Reid recommends lighter McNabb to teams</a></h2>
                       <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,...</p>
                   </div>
               </li>
           </ul>-->
        <ul>
            <li>
                <i class="fa fa-phone"></i> :13840816188  <br>
                <i class="fa fa-envelope-o"></i>: service#dalianjinpai.com
            </li>
        </ul>
    </div>
    <div id="tab2" class="tab-content">

        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>

        <!-- UY END -->

    </div>
    <div id="tab3" class="tab-content">


        <ul class="latest-comments">

            <li>

                <img alt=''
                     src='http://1.gravatar.com/avatar/3b15663f6c2ae6b5d8c1c716ad6cb052?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G'
                     class='avatar avatar-40 photo' height='40' width='40'/> <strong>hahahah says:</strong><br/>
                Hello Steve !...<br/>
                <a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/#comment-241"
                   title="hahahah on Manny to begin Triple-A stint, eyeing A's debut">Manny to begin Triple-A stint,
                    eyeing A's debut</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt=''
                     src='http://0.gravatar.com/avatar/a4dae95324109b6b2c02fff3aa5bcf68?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G'
                     class='avatar avatar-40 photo' height='40' width='40'/> <strong>tolu says:</strong><br/>
                This is cool...<br/>
                <a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/#comment-236"
                   title="tolu on Manny to begin Triple-A stint, eyeing A's debut">Manny to begin Triple-A stint, eyeing
                    A's debut</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt=''
                     src='http://0.gravatar.com/avatar/eace9089cec30b69fadcda570be775ef?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G'
                     class='avatar avatar-40 photo' height='40' width='40'/> <strong>Cool Luke says:</strong><br/>
                Test...<br/>
                <a href="#/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/#comment-235"
                   title="Cool Luke on Jaguars' Knighton apologizes for nightclub fight">Jaguars' Knighton apologizes
                    for nightclub fight</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt=''
                     src='http://0.gravatar.com/avatar/431d9d8183f2afc118928abd9be4129c?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G'
                     class='avatar avatar-40 photo' height='40' width='40'/> <strong>gerry says:</strong><br/>
                Test comment...<br/>
                <a href="#/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/#comment-216"
                   title="gerry on Report: Semin, Vokoun won't return to Capitals">Report: Semin, Vokoun won't return to
                    Capitals</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt=''
                     src='http://0.gravatar.com/avatar/450498931b52ed88de43e78ed65c3ff3?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G'
                     class='avatar avatar-40 photo' height='40' width='40'/> <strong>Two Chainz says:</strong><br/>
                TRUUUUU...<br/>
                <a href="#/2012/05/young-willing-to-do-anything-to-help-bills-win/#comment-210"
                   title="Two Chainz on Young willing to do anything to help Bills win">Young willing to do anything to
                    help Bills win</a>

            </li>
        </ul>

    </div>

</div>


<div class="social-contain">

    <!--  <ul id="social">
          <li><a href="http://www.facebook.com/envato" target="_blank" class="soc-fb"></a></li>				<li><a href="http://www.twitter.com/mvpthemes" target="_blank" class="soc-twi"></a></li>				<li><a href="https://plus.google.com/107285294994146126204/posts" target="_blank" class="soc-gp"></a></li>				<li><a href="http://www.pinterest.com/envato" target="_blank" class="soc-pin"></a></li>				<li><a href="http://www.mvpthemes.com/resportsive/feed/rss/" class="soc-rss"></a></li>
      </ul>-->
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style_32x32">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share?uid=1814370" class="jiathis jiathis_txt jtico jtico_jiathis"
           target="_blank"></a>
        <a class="jiathis_counter_style"></a>
    </div>

    <!-- JiaThis Button END -->
</div>


<div class="sidebar-widget"><h3 class="widget"><span class="widget">活动视频</span></h3>

    <div class="textwidget">
        <iframe src="http://player.youku.com/embed/XNjUyMzkyMTM2" scrolling="no" frameborder="0"
                style="border:none; overflow:hidden; width:300; height:258px;" allowTransparency="true"
                allowfullscreen></iframe>
    </div>
</div>
<div class="widget-ad">

    <img src="img/banner2.gif" alt="300 x 250 ad"/>
</div>
<div class="sidebar-widget"><h3 class="widget"><span class="widget">微博</span></h3>

    <div class="widget-fb">


    </div>


</div>
<div class="sidebar-widget"><h3 class="widget"><span class="widget">金牌教练</span></h3>

    <div class="widget-list">
        <ul>
            <li>
                <div class="contain">
                    <a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark"
                       title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow">
                        <img width="95" height="95" src="img/王林.jpg" class="attachment-square-thumb wp-post-image"
                             alt="baseball1"/></a>
                </div>
                <div class="text">
                    <h2><a href="#/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">王林教练</a></h2>

                    <p>丰富的户外拓展指导经验</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="#/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/" rel="bookmark"
                       title="Pence atones for error with walk-off blast in extras" class="img-shadow">
                        <img width="95" height="95" src="img/张林.jpg" class="attachment-square-thumb wp-post-image"
                             alt="stadium2"/></a>
                </div>
                <div class="text">
                    <h2><a href="#/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/"
                           rel="bookmark">张林教练</a></h2>

                    <p>丰富的户外拓展指导经验,擅长团队项目的训练</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="#/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark"
                       title="Ailing Angels fire hitting coach Hatcher" class="img-shadow">
                        <img width="95" height="95" src="img/张雷.jpg" class="attachment-square-thumb wp-post-image"
                             alt="baseball2"/></a>
                </div>
                <div class="text">
                    <h2><a href="#/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark">张雷教练</a></h2>

                    <p>擅长徒步穿越等项目</p>
                </div>
            </li>
        </ul>
    </div>


</div>
<div class="sidebar-widget"><h3 class="widget"><span class="widget">金牌合作伙伴</span></h3>

    <div class="widget-list">
        <ul>
            <li>
                <div class="contain">
                    <a href="#/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark"
                       title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="95"
                                                                                                     height="95"
                                                                                                     src="img/adidas.jpg"
                                                                                                     class="attachment-square-thumb wp-post-image"
                                                                                                     alt="soccer4"/></a>
                </div>
                <div class="text">
                    <h2><a href="#/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">Adidas中国</a></h2>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="#/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark"
                       title="England ace keen to see how Brennan performs" class="img-shadow"><img width="95"
                                                                                                    height="95"
                                                                                                    src="img/nike.jpg"
                                                                                                    class="attachment-square-thumb wp-post-image"
                                                                                                    alt="soccer1"/></a>
                </div>
                <div class="text">
                    <h2><a href="#/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark">Nike中国</a></h2>

                    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="#/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark"
                       title="Walker expected to be ruled out through injury" class="img-shadow"><img width="95"
                                                                                                      height="95"
                                                                                                      src="img/anta.jpg"
                                                                                                      class="attachment-square-thumb wp-post-image"
                                                                                                      alt="soccer3"/></a>
                </div>
                <div class="text">
                    <h2><a href="#/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark">安踏</a></h2>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,...</p>
                </div>
            </li>
        </ul>
    </div>


</div>
</div>
<!--sidebar-container--></div>
<!--content-->

<div id="footer">
    <div class="footer-widget"><h3>关于我们</h3>

        <div class="textwidget"><p>大连金牌拓展隶属于大连金牌企业管理咨询有限公司</p>
        </div>
    </div>
    <div class="footer-widget"><h3>我们在这里</h3>

        <div class="widget-list">
            <ul>
                <li>
                    <div class="contain">
                        <div style="width:300px;height:100px;border:#ccc solid 1px;" id="dituContent"></div>
                        <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
                        <script type="text/javascript">
                            //创建和初始化地图函数：
                            function initMap(){
                                createMap();//创建地图
                                setMapEvent();//设置地图事件
                                addMapControl();//向地图添加控件
                            }

                            //创建地图函数：
                            function createMap(){
                                var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
                                var point = new BMap.Point(121.610905,38.919551);//定义一个中心点坐标
                                map.centerAndZoom(point,12);//设定地图的中心点和坐标并将地图显示在地图容器中
                                window.map = map;//将map变量存储在全局
                            }

                            //地图事件设置函数：
                            function setMapEvent(){

                                map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                                map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)

                            }




                            initMap();//创建和初始化地图
                        </script>
                    </div>

                </li>
            </ul>
        </div>


    </div>



    </div>
</div>
<!--footer-->
<div id="footer-bottom">
    <div id="footer-nav1">
        <div class="menu-primary-menu-container">
            <ul id="menu-primary-menu-2" class="menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-11566">
                    <a href="#/">主页</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11673">
                    <a href="http://#">站点地图</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11675"><a
                                href="#/shortcodes/">Shortcodes</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11677"><a
                                href="#/typography/">Typography</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a
                                href="#/full-page-width/">Full Page Width</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11519">
                    <a href="#/category/nfl/">联系我们</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a
                                href="http://#">Scores</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11542"><a
                                href="http://#">Teams</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11543"><a
                                href="http://#">Standings</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11544"><a
                                href="http://#">Stats</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11523">
                    <a href="#/category/mlb/">课程预订</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11539"><a
                                href="http://#">Scores</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11540"><a
                                href="http://#">Teams</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11537"><a
                                href="http://#">Standings</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a
                                href="http://#">Stats</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11529"><a
                        href="#/category/nhl/">成为合作伙伴</a></li>


            </ul>
        </div>
    </div>
    <!--footer-nav1-->
    <div id="footer-nav2">
        <div class="menu-secondary-menu-container">
            <ul id="menu-secondary-menu-1" class="menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11650"><a
                        href="http://www.mvpthemes.com/support">订阅邮件</a></li>
                <li  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11529"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5776572'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D5776572%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></li>
            </ul>

        </div>
    </div>
    <!--footer-nav2-->
    <div id="footer-info">
        Copyright © 2014 大连金牌拓展. website by <a href="#" target="_blank">www.dalianjinpai.com</a> .
    </div>
    <!--footer-info-->
</div>
<!--footer-bottom-->

</div>
<!--wrapper-inner-->
</div>
<!--wrapper-->
</div>
<!--site-->


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                slideshowSpeed: 10000,
                controlsContainer: ".flexslider-container"
            });
        });
    });
</script>

<script type="text/javascript">
    /* (function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'js/plusone.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();*/
</script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('.carousel').elastislide({
            imageW: 145,
            minItems: 2,
            margin: 10
        });
    });
</script>
<script type="text/javascript">
    var jiathis_config = {data_track_clickback: 'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1372646076592328" charset="utf-8"></script>
</body>
</html>
<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 21/80 queries in 0.019 seconds using disk
Object Caching 5393/5451 objects using disk

 Served from: www.mvpthemes.com @ 2013-12-24 04:57:44 by W3 Total Cache -->