
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description" content="A Responsive Sports News Theme" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot1-150x150.jpg" />

    <title>
        大连金牌拓展</title>

    <link rel="stylesheet" type="text/css" media="all" href="http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/style.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.mvpthemes.com/resportsive/feed/" />
    <link rel="alternate" type="text/xml" title="RSS .92" href="http://www.mvpthemes.com/resportsive/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://www.mvpthemes.com/resportsive/feed/atom/" />
    <link rel="pingback" href="http://www.mvpthemes.com/resportsive/xmlrpc.php" />

    <link rel="alternate" type="application/rss+xml" title="Resportsive Theme &raquo; Feed" href="http://www.mvpthemes.com/resportsive/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Resportsive Theme &raquo; Comments Feed" href="http://www.mvpthemes.com/resportsive/comments/feed/" />
    <script type='text/javascript' src='http://www.mvpthemes.com/resportsive/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
    <script type='text/javascript' src='http://www.mvpthemes.com/resportsive/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/js/jquery.flexslider.js?ver=3.7.1'></script>
    <script type='text/javascript' src='http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/js/jquery.elastislide.js?ver=3.7.1'></script>
    <script type='text/javascript' src='http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/js/scripts.js?ver=3.7.1'></script>
    <script type='text/javascript' src='http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/js/ticker.js?ver=3.7.1'></script>
    <script type='text/javascript' src='http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/js/respond.min.js?ver=3.7.1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.mvpthemes.com/resportsive/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.mvpthemes.com/resportsive/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 3.7.1" />

</head>

<body class="home blog">

<div id="site">
<div id="header-top-wrapper">
    <div id="header-top">
        <div id="header-top-left">
            <div class="menu-secondary-menu-container"><ul id="menu-secondary-menu" class="menu"><li id="menu-item-11650" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11650"><a href="http://www.mvpthemes.com/support">Support Center</a></li>
                <li id="menu-item-11533" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11533"><a href="http://#">Contact</a></li>
                <li id="menu-item-11534" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11534"><a href="http://#">Subscribe</a></li>
            </ul></div>			</div><!--header-top-left-->
        <div id="header-top-right">
            <form method="get" id="searchform" action="http://www.mvpthemes.com/resportsive/">
                <input type="text" name="s" id="s" value="Search site" onfocus='if (this.value == "Search site") { this.value = ""; }' onblur='if (this.value == "") { this.value = "Search site"; }' />
                <input type="hidden" id="search-button" />
            </form>			</div><!--header-top-right-->
    </div><!--header-top-->
</div><!--header-top-wrapper-->
<div id="header-wrapper">
    <div id="header">
        <div id="header-contain">
            <div id="header-bottom">
                <div id="logo">
                    <a href="http://www.mvpthemes.com/resportsive"><img src="http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/images/logo.png" alt="Resportsive Theme" /></a>
                </div><!--logo-->
                <div id="news-ticker">
                    <ul id="ticker">
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/">Young willing to do anything to help Bills win</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/">Report: Semin, Vokoun won&#8217;t return to Capitals</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/">Reid recommends lighter McNabb to teams</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/tiger-still-looking-for-first-major-win-in-years/">Tiger still looking for first major win in years</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/">Jaguars&#8217; Knighton apologizes for nightclub fight</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/">Chandler turns down U.S. training camp invite</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/">England ace keen to see how Brennan performs</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/">Manny to begin Triple-A stint, eyeing A&#8217;s debut</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/walker-expected-to-be-ruled-out-through-injury/">Walker expected to be ruled out through injury</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/">Pence atones for error with walk-off blast in extras</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/ailing-angels-fire-hitting-coach-hatcher/">Ailing Angels fire hitting coach Hatcher</a></li>
                        <li><a href="http://www.mvpthemes.com/resportsive/2012/05/usc-rb-bellamy-ruled-academically-ineligible/">USC RB Bellamy ruled academically ineligible</a></li>
                    </ul>
                </div><!--news-ticker-->

            </div><!--header-bottom-->
            <div id="nav-main">
                <div class="menu-primary-menu-container"><ul id="menu-primary-menu" class="menu"><li id="menu-item-11566" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-11566"><a href="#">首页</a></li>
                    <li id="menu-item-11673" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11673"><a href="http://#">企业拓展</a>
                        <ul class="sub-menu">
                            <li id="menu-item-11675" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11675"><a href="http://www.mvpthemes.com/resportsive/shortcodes/">管理咨询</a></li>
                            <li id="menu-item-11677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11677"><a href="http://www.mvpthemes.com/resportsive/typography/">职业培训</a></li>
                            <li id="menu-item-11676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">户外拓展</a></li>
                            <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">军营集训</a></li>
                            <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">野外生存</a></li>
                            <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">徒步穿越</a></li>
                            <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">CS野战</a></li>
                            <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">趣味运动会</a></li>
                            <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">企业年会</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-11519" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11519">
                        <a href="http://www.mvpthemes.com/resportsive/category/nfl/">青少年拓展</a>
                        <ul class="sub-menu">
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">夏冬令营</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">素质培训</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">十八岁成人礼</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">户外拓展</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">军营集训</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">徒步穿越</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">CS野战</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">趣味运动会</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">校园活动</a></li>

                        </ul>
                    </li>
                    <li id="menu-item-11523" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11523">
                        <a href="http://www.mvpthemes.com/resportsive/category/mlb/">家庭拓展</a>
                        <ul class="sub-menu">
                            <li id="menu-item-11539" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11539"><a href="http://#">户外拓展</a></li>
                            <li id="menu-item-11540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11540"><a href="http://#">军营集训</a></li>
                            <li id="menu-item-11537" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11537"><a href="http://#">徒步穿越</a></li>
                            <li id="menu-item-11538" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a href="http://#">CS野战</a></li>
                            <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a href="http://#">亲子趣味竞技</a></li>
                            <li   class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a href="http://#">户外垂钓</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-11529" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11529"><a href="http://www.mvpthemes.com/resportsive/category/nhl/">VIP订制</a></li>
                    <li id="menu-item-11528" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11528"><a href="http://www.mvpthemes.com/resportsive/category/ncaa-fb/">金牌团队</a></li>



                </ul></div>				</div><!--nav-main-->
            <div id="nav-mobi">
                <div class="flip">Menu</div>
                <div class="panel"><div class="menu-primary-menu-container"><ul id="menu-primary-menu-1" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-11566"><a href="http://www.mvpthemes.com/resportsive/">Home</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11673"><a href="http://#">Features</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11675"><a href="http://www.mvpthemes.com/resportsive/shortcodes/">Shortcodes</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11677"><a href="http://www.mvpthemes.com/resportsive/typography/">Typography</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">Full Page Width</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11519"><a href="http://www.mvpthemes.com/resportsive/category/nfl/">NFL</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">Scores</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11542"><a href="http://#">Teams</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11543"><a href="http://#">Standings</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11544"><a href="http://#">Stats</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11523"><a href="http://www.mvpthemes.com/resportsive/category/mlb/">MLB</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11539"><a href="http://#">Scores</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11540"><a href="http://#">Teams</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11537"><a href="http://#">Standings</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a href="http://#">Stats</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11529"><a href="http://www.mvpthemes.com/resportsive/category/nhl/">NHL</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11528"><a href="http://www.mvpthemes.com/resportsive/category/ncaa-fb/">NCAA FB</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11527"><a href="http://www.mvpthemes.com/resportsive/category/ncaa-bb/">NCAA BB</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11522"><a href="http://www.mvpthemes.com/resportsive/category/golf/">Golf</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11532"><a href="http://www.mvpthemes.com/resportsive/category/tennis/">Tennis</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11524"><a href="http://www.mvpthemes.com/resportsive/category/mma/">MMA</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11531"><a href="http://www.mvpthemes.com/resportsive/category/soccer/">Soccer</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11525"><a href="http://www.mvpthemes.com/resportsive/category/more-sports/">More Sports</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11547"><a href="http://#">Cricket</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11548"><a href="http://#">Horse Racing</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11545"><a href="http://#">Olympics</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11546"><a href="http://#">Rugby</a></li>
                        </ul>
                    </li>
                </ul></div></div>
            </div><!--nav-mobi-->
        </div><!--header-contain-->
    </div><!--header-->
</div><!--header-wrapper-->
<div id="wrapper">
<div id="wrapper-inner">
<div id="leaderboard">
    <img src="http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/images/banners/ad728x90.gif" alt="728 x 90 ad" />				</div><!--leaderboard-->
<div id="content">
<div id="main">
<div id="home-top">
    <div id="home-feature">
        <div class="flexslider-container">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark" title="Young willing to do anything to help Bills win" class="img-shadow"><img width="610" height="400" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot1.jpg" class="attachment-post-thumb wp-post-image" alt="cfoot1" /></a>
                        <div class="home-feature-box">
                            <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/">Young signs with Bills</a></h1>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae...</p>
                        </div><!--home-feature-box-->
                    </li>
                    <li>
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark" title="Report: Semin, Vokoun won&#8217;t return to Capitals" class="img-shadow"><img width="610" height="400" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/hockey2.jpg" class="attachment-post-thumb wp-post-image" alt="hockey2" /></a>
                        <div class="home-feature-box">
                            <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/">Semin, Voukoun won't return</a></h1>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Nemo enim...</p>
                        </div><!--home-feature-box-->
                    </li>
                    <li>
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark" title="Reid recommends lighter McNabb to teams" class="img-shadow"><img width="610" height="400" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/football1.jpg" class="attachment-post-thumb wp-post-image" alt="football1" /></a>
                        <div class="home-feature-box">
                            <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/">McNabb trying to catch on</a></h1>
                            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere...</p>
                        </div><!--home-feature-box-->
                    </li>
                    <li>
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/tiger-still-looking-for-first-major-win-in-years/" rel="bookmark" title="Tiger still looking for first major win in years" class="img-shadow"><img width="610" height="400" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/golf1.jpg" class="attachment-post-thumb wp-post-image" alt="golf1" /></a>
                        <div class="home-feature-box">
                            <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/tiger-still-looking-for-first-major-win-in-years/">Tiger trying to get back on track</a></h1>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam...</p>
                        </div><!--home-feature-box-->
                    </li>
                    <li>
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/" rel="bookmark" title="Jaguars&#8217; Knighton apologizes for nightclub fight" class="img-shadow"><img width="610" height="400" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/football2.jpg" class="attachment-post-thumb wp-post-image" alt="football2" /></a>
                        <div class="home-feature-box">
                            <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/">Knighton apologizes for fight</a></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>
                        </div><!--home-feature-box-->
                    </li>
                    <li>
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark" title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="610" height="400" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer4.jpg" class="attachment-post-thumb wp-post-image" alt="soccer4" /></a>
                        <div class="home-feature-box">
                            <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/">Chandler turns down invite</a></h1>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Et harum quidem rerum facilis...</p>
                        </div><!--home-feature-box-->
                    </li>
                </ul>
            </div><!--flexslider-->
        </div><!--flexslider-container-->
    </div><!--home-feature-->
</div><!--home-top-->
<div class="home-widget">

    <div class="small-cat-home">
        <h2 class="section"><span class="section">Featured</span></h2>

        <div class="carousel small-cat-story es-carousel-wrapper">
            <div class="es-carousel">
                <ul>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/" rel="bookmark" title="Jaguars&#8217; Knighton apologizes for nightclub fight" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/football2-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="football2" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/" rel="bookmark">Jaguars&#8217; Knighton apologizes for nightclub fight</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark" title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer4-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="soccer4" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">Chandler turns down U.S. training camp invite</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark" title="England ace keen to see how Brennan performs" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="soccer1" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark">England ace keen to see how Brennan performs</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark" title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/baseball1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="baseball1" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">Manny to begin Triple-A stint, eyeing A&#8217;s debut</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark" title="Walker expected to be ruled out through injury" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer3-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="soccer3" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark">Walker expected to be ruled out through injury</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/" rel="bookmark" title="Pence atones for error with walk-off blast in extras" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/stadium2-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="stadium2" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/" rel="bookmark">Pence atones for error with walk-off blast in extras</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark" title="Ailing Angels fire hitting coach Hatcher" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/baseball2-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="baseball2" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark">Ailing Angels fire hitting coach Hatcher</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/usc-rb-bellamy-ruled-academically-ineligible/" rel="bookmark" title="USC RB Bellamy ruled academically ineligible" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot2-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="cfoot2" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/usc-rb-bellamy-ruled-academically-ineligible/" rel="bookmark">USC RB Bellamy ruled academically ineligible</a>
                    </li>
                    <li>
                        <div class="img-story">
                            <a href="http://www.mvpthemes.com/resportsive/2012/05/simpson-to-make-welterweight-debut-july-11/" rel="bookmark" title="Simpson to make welterweight debut July 11" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/mma1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="mma1" /></a>
                        </div><!--img-story-->
                        <a href="http://www.mvpthemes.com/resportsive/2012/05/simpson-to-make-welterweight-debut-july-11/" rel="bookmark">Simpson to make welterweight debut July 11</a>
                    </li>
                </ul>
            </div>
        </div><!--small-cat-story-->

    </div><!--small-cat-->


</div><div class="home-widget">

    <div class="home-cat-wrapper">
        <div class="home-cat-left">
            <div class="section-header">
                <h2><span> MLB</span></h2>
            </div>
            <div class="home-story">
                <div class="img-cat2">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark" title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow"><img width="300" height="197" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/baseball1-300x197.jpg" class="attachment-half-thumb wp-post-image" alt="baseball1" /></a>
                </div><!--img-cat2-->
                <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">Manny to begin Triple-A stint, eyeing A&#8217;s debut</a></h1>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas...</p>
            </div><!--home-story-->
            <div class="home-headlines">
                <ul>
                    <li><a href="http://www.mvpthemes.com/resportsive/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/" rel="bookmark">Pence atones for error with walk-off blast in extras</a></li>
                    <li><a href="http://www.mvpthemes.com/resportsive/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark">Ailing Angels fire hitting coach Hatcher</a></li>
                </ul>
            </div><!--home-headlines-->
        </div><!--home-cat-left-->
        <div class="home-cat-right">
            <div class="section-header">
                <h2><span>Soccer</span></h2>
            </div>
            <div class="home-story">
                <div class="img-cat2">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark" title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="300" height="197" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer4-300x197.jpg" class="attachment-half-thumb wp-post-image" alt="soccer4" /></a>
                </div><!--img-story-->
                <h1><a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">Chandler turns down U.S. training camp invite</a></h1>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem...</p>
            </div><!--home-story-->
            <div class="home-headlines">
                <ul>
                    <li><a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark">England ace keen to see how Brennan performs</a></li>
                    <li><a href="http://www.mvpthemes.com/resportsive/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark">Walker expected to be ruled out through injury</a></li>
                </ul>
            </div><!--home-headlines-->
        </div><!--home-cat-right-->

    </div><!--home-cat-wrapper-->


</div><div class="home-widget">


    <h2 class="section"><span class="section">More Stories</span></h2>

    <ul class="recent">
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark" title="Young willing to do anything to help Bills win" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="cfoot1" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/nfl/" title="View all posts in NFL" rel="category tag">NFL</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark">Young willing to do anything to help Bills win</a></h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark" title="Report: Semin, Vokoun won&#8217;t return to Capitals" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/hockey2-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="hockey2" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/nhl/" title="View all posts in NHL" rel="category tag">NHL</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark">Report: Semin, Vokoun won&#8217;t return to Capitals</a></h2>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark" title="Reid recommends lighter McNabb to teams" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/football1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="football1" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/nfl/" title="View all posts in NFL" rel="category tag">NFL</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark">Reid recommends lighter McNabb to teams</a></h2>
                    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/tiger-still-looking-for-first-major-win-in-years/" rel="bookmark" title="Tiger still looking for first major win in years" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/golf1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="golf1" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/golf/" title="View all posts in Golf" rel="category tag">Golf</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/tiger-still-looking-for-first-major-win-in-years/" rel="bookmark">Tiger still looking for first major win in years</a></h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/" rel="bookmark" title="Jaguars&#8217; Knighton apologizes for nightclub fight" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/football2-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="football2" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/nfl/" title="View all posts in NFL" rel="category tag">NFL</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/" rel="bookmark">Jaguars&#8217; Knighton apologizes for nightclub fight</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark" title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer4-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="soccer4" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/soccer/" title="View all posts in Soccer" rel="category tag">Soccer</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">Chandler turns down U.S. training camp invite</a></h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark" title="England ace keen to see how Brennan performs" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="soccer1" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/soccer/" title="View all posts in Soccer" rel="category tag">Soccer</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark">England ace keen to see how Brennan performs</a></h2>
                    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
        <li>
            <div class="home-story-cat">
                <div class="img-contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark" title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow"><img width="145" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/baseball1-145x95.jpg" class="attachment-small-thumb wp-post-image" alt="baseball1" /></a>
                </div><!--img-contain-->
                <div class="story-text">
                    <div class="cat-small"><ul class="post-categories">
                        <li><a href="http://www.mvpthemes.com/resportsive/category/mlb/" title="View all posts in MLB" rel="category tag">MLB</a></li></ul></div>
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">Manny to begin Triple-A stint, eyeing A&#8217;s debut</a></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas...</p>
                </div><!--story-text-->
            </div><!--home-story-cat-->
        </li>
    </ul>


</div></div><!--main -->

<div id="sidebar-container">



<div class="tabs-wrapper">

    <ul class="tabs">
        <li><a href="#tab1">Headlines</a></li>
        <li><a href="#tab2">Popular</a></li>
        <li><a href="#tab3">Comments</a></li>
    </ul>

    <div id="tab1" class="tab-content">
        <ul>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark" title="Young willing to do anything to help Bills win" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="cfoot1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark">Young willing to do anything to help Bills win</a></h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark" title="Report: Semin, Vokoun won&#8217;t return to Capitals" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/hockey2-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="hockey2" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/" rel="bookmark">Report: Semin, Vokoun won&#8217;t return to Capitals</a></h2>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark" title="Reid recommends lighter McNabb to teams" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/football1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="football1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/reid-recommends-lighter-mcnabb-to-teams/" rel="bookmark">Reid recommends lighter McNabb to teams</a></h2>
                    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,...</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="tab2" class="tab-content">

        <ul>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark" title="Young willing to do anything to help Bills win" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="cfoot1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark">Young willing to do anything to help Bills win</a></h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark" title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/baseball1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="baseball1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">Manny to begin Triple-A stint, eyeing A&#8217;s debut</a></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark" title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer4-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="soccer4" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">Chandler turns down U.S. training camp invite</a></h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,...</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="tab3" class="tab-content">


        <ul class="latest-comments">

            <li>

                <img alt='' src='http://1.gravatar.com/avatar/3b15663f6c2ae6b5d8c1c716ad6cb052?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' />					<strong>hahahah says:</strong><br />
                Hello Steve !...<br />
                <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/#comment-241" title="hahahah on Manny to begin Triple-A stint, eyeing A's debut">Manny to begin Triple-A stint, eyeing A's debut</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt='' src='http://0.gravatar.com/avatar/a4dae95324109b6b2c02fff3aa5bcf68?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' />					<strong>tolu says:</strong><br />
                This is cool...<br />
                <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/#comment-236" title="tolu on Manny to begin Triple-A stint, eyeing A's debut">Manny to begin Triple-A stint, eyeing A's debut</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt='' src='http://0.gravatar.com/avatar/eace9089cec30b69fadcda570be775ef?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' />					<strong>Cool Luke says:</strong><br />
                Test...<br />
                <a href="http://www.mvpthemes.com/resportsive/2012/05/jaguars-knighton-apologizes-for-nightclub-fight/#comment-235" title="Cool Luke on Jaguars' Knighton apologizes for nightclub fight">Jaguars' Knighton apologizes for nightclub fight</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt='' src='http://0.gravatar.com/avatar/431d9d8183f2afc118928abd9be4129c?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' />					<strong>gerry says:</strong><br />
                Test comment...<br />
                <a href="http://www.mvpthemes.com/resportsive/2012/05/report-semin-vokoun-wont-return-to-capitals-next-season/#comment-216" title="gerry on Report: Semin, Vokoun won't return to Capitals">Report: Semin, Vokoun won't return to Capitals</a>

            </li>
        </ul>

        <ul class="latest-comments">

            <li>

                <img alt='' src='http://0.gravatar.com/avatar/450498931b52ed88de43e78ed65c3ff3?s=40&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' />					<strong>Two Chainz says:</strong><br />
                TRUUUUU...<br />
                <a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/#comment-210" title="Two Chainz on Young willing to do anything to help Bills win">Young willing to do anything to help Bills win</a>

            </li>
        </ul>

    </div>

</div>







<div class="social-contain">

    <ul id="social">
        <li><a href="http://www.facebook.com/envato" target="_blank" class="soc-fb"></a></li>				<li><a href="http://www.twitter.com/mvpthemes" target="_blank" class="soc-twi"></a></li>				<li><a href="https://plus.google.com/107285294994146126204/posts" target="_blank" class="soc-gp"></a></li>				<li><a href="http://www.pinterest.com/envato" target="_blank" class="soc-pin"></a></li>				<li><a href="http://www.mvpthemes.com/resportsive/feed/rss/" class="soc-rss"></a></li>
    </ul>

</div>


<div class="widget-ad">

    <img src="http://www.mvpthemes.com/resportsive/wp-content/themes/resportsive/images/banners/ad300x250.gif" alt="300 x 250 ad" />
</div>

<div class="sidebar-widget"><h3 class="widget"><span class="widget">Video</span></h3>			<div class="textwidget"><iframe width="100%" src="http://www.youtube.com/embed/mdoRLNgSUYs" frameborder="0" allowfullscreen></iframe></div>
</div><div class="sidebar-widget"><h3 class="widget"><span class="widget">Facebook</span></h3>
    <div class="widget-fb">

        <iframe src="//www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/envato&amp;width=300&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300; height:258px;" allowTransparency="true"></iframe>

    </div>


</div><div class="sidebar-widget"><h3 class="widget"><span class="widget">MLB</span></h3>
    <div class="widget-list">
        <ul>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark" title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/baseball1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="baseball1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/manny-to-begin-triple-a-stint-eyeing-as-debut/" rel="bookmark">Manny to begin Triple-A stint, eyeing A&#8217;s debut</a></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/" rel="bookmark" title="Pence atones for error with walk-off blast in extras" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/stadium2-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="stadium2" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/pence-atones-for-error-with-walk-off-blast-in-extras/" rel="bookmark">Pence atones for error with walk-off blast in extras</a></h2>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark" title="Ailing Angels fire hitting coach Hatcher" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/baseball2-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="baseball2" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/ailing-angels-fire-hitting-coach-hatcher/" rel="bookmark">Ailing Angels fire hitting coach Hatcher</a></h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</p>
                </div>
            </li>
        </ul>
    </div>


</div><div class="sidebar-widget"><h3 class="widget"><span class="widget">Soccer</span></h3>
    <div class="widget-list">
        <ul>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark" title="Chandler turns down U.S. training camp invite" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer4-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="soccer4" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/chandler-turns-down-u-s-training-camp-invite/" rel="bookmark">Chandler turns down U.S. training camp invite</a></h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark" title="England ace keen to see how Brennan performs" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="soccer1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/england-ace-keen-to-see-how-brennan-and-mason-perform/" rel="bookmark">England ace keen to see how Brennan performs</a></h2>
                    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,...</p>
                </div>
            </li>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark" title="Walker expected to be ruled out through injury" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/soccer3-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="soccer3" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/walker-expected-to-be-ruled-out-through-injury/" rel="bookmark">Walker expected to be ruled out through injury</a></h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,...</p>
                </div>
            </li>
        </ul>
    </div>


</div>
</div><!--sidebar-container--></div><!--content-->

<div id="footer">
    <div class="footer-widget"><h3>About</h3>			<div class="textwidget"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. Sed ut perspiciatis unde omnis iste natus error sit.</p>
    </div>
    </div><div class="footer-widget"><h3>MMA</h3>
    <div class="widget-list">
        <ul>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/simpson-to-make-welterweight-debut-july-11/" rel="bookmark" title="Simpson to make welterweight debut July 11" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/mma1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="mma1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/simpson-to-make-welterweight-debut-july-11/" rel="bookmark">Simpson to make welterweight debut July 11</a></h2>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse...</p>
                </div>
            </li>
        </ul>
    </div>


</div><div class="footer-widget"><h3>NFL</h3>
    <div class="widget-list">
        <ul>
            <li>
                <div class="contain">
                    <a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark" title="Young willing to do anything to help Bills win" class="img-shadow"><img width="95" height="95" src="http://www.mvpthemes.com/resportsive/wp-content/uploads/2012/05/cfoot1-95x95.jpg" class="attachment-square-thumb wp-post-image" alt="cfoot1" /></a>
                </div>
                <div class="text">
                    <h2><a href="http://www.mvpthemes.com/resportsive/2012/05/young-willing-to-do-anything-to-help-bills-win/" rel="bookmark">Young willing to do anything to help Bills win</a></h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
                </div>
            </li>
        </ul>
    </div>


</div></div><!--footer-->
<div id="footer-bottom">
    <div id="footer-nav1">
        <div class="menu-primary-menu-container"><ul id="menu-primary-menu-2" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-11566"><a href="http://www.mvpthemes.com/resportsive/">Home</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11673"><a href="http://#">Features</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11675"><a href="http://www.mvpthemes.com/resportsive/shortcodes/">Shortcodes</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11677"><a href="http://www.mvpthemes.com/resportsive/typography/">Typography</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11676"><a href="http://www.mvpthemes.com/resportsive/full-page-width/">Full Page Width</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11519"><a href="http://www.mvpthemes.com/resportsive/category/nfl/">NFL</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11541"><a href="http://#">Scores</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11542"><a href="http://#">Teams</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11543"><a href="http://#">Standings</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11544"><a href="http://#">Stats</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11523"><a href="http://www.mvpthemes.com/resportsive/category/mlb/">MLB</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11539"><a href="http://#">Scores</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11540"><a href="http://#">Teams</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11537"><a href="http://#">Standings</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11538"><a href="http://#">Stats</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11529"><a href="http://www.mvpthemes.com/resportsive/category/nhl/">NHL</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11528"><a href="http://www.mvpthemes.com/resportsive/category/ncaa-fb/">NCAA FB</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11527"><a href="http://www.mvpthemes.com/resportsive/category/ncaa-bb/">NCAA BB</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11522"><a href="http://www.mvpthemes.com/resportsive/category/golf/">Golf</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11532"><a href="http://www.mvpthemes.com/resportsive/category/tennis/">Tennis</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11524"><a href="http://www.mvpthemes.com/resportsive/category/mma/">MMA</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11531"><a href="http://www.mvpthemes.com/resportsive/category/soccer/">Soccer</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-11525"><a href="http://www.mvpthemes.com/resportsive/category/more-sports/">More Sports</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11547"><a href="http://#">Cricket</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11548"><a href="http://#">Horse Racing</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11545"><a href="http://#">Olympics</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11546"><a href="http://#">Rugby</a></li>
                </ul>
            </li>
        </ul></div>	</div><!--footer-nav1-->
    <div id="footer-nav2">
        <div class="menu-secondary-menu-container"><ul id="menu-secondary-menu-1" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11650"><a href="http://www.mvpthemes.com/support">Support Center</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11533"><a href="http://#">Contact</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11534"><a href="http://#">Subscribe</a></li>
        </ul></div>	</div><!--footer-nav2-->
    <div id="footer-info">
        Copyright © 2012 Resportsive Theme. Theme by <a href="http:///www.mvpthemes.com/resportsive" target="_blank">MVP Themes</a> Powered by <a href="http:///www.wordpress.org" target="_blank">Wordpress</a>.	</div><!--footer-info-->
</div><!--footer-bottom-->

</div><!--wrapper-inner-->
</div><!--wrapper-->
</div><!--site-->


<script type="text/javascript">
    jQuery(document).ready(function($){
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                slideshowSpeed: 10000,
                controlsContainer: ".flexslider-container"
            });
        });
    });
</script>

<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<script type="text/javascript">
    jQuery(document).ready(function($){
        $('.carousel').elastislide({
            imageW 	: 145,
            minItems	: 2,
            margin		: 10
        });
    });
</script>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project=8401397;
    var sc_invisible=1;
    var sc_security="240eee01";
</script>
<script type="text/javascript"
        src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="web statistics"
                                      href="http://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="http://c.statcounter.com/8401397/0/240eee01/1/"
        alt="web statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>
</html>
<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 21/80 queries in 0.019 seconds using disk
Object Caching 5393/5451 objects using disk

 Served from: www.mvpthemes.com @ 2013-12-24 04:57:44 by W3 Total Cache -->