<!DOCTYPE html>
<html>
<head>
    <title>大连金牌拓展训练俱乐部-野外拓展|亲子活动|企业培训|Outward Bound</title>
    <meta name="description" content="野外拓展|亲子活动|企业培训|Outward Bound">
    <meta name="keywords" content="野外拓展 亲子活动 企业培训 Outward Bound">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body >


<h1>欢迎访问 <%= title %> 官方网站</h1>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <a class="jiathis_like_tsina" data="width=120"></a>
    <a class="jiathis_like_qzone"></a>
</div>
<script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1372646076592328" charset="utf-8"></script>
<!-- JiaThis Button END -->
<h2>专注于户外拓展训练</h2>
<h2>网站正在建设中...</h2>



<ul id="menu-primary-navigation" class="nav">
    <li class="dropdown" style=""><a class="dropdown-toggle externalLink" data-toggle="dropdown"
                                                         data-target="#" href="//" target="_blank">企业拓展<b
            class="caret"></b></a>
        <ul class="dropdown-menu" style="">
            <li class=""><a href="#/course/management-consulting">管理咨询</a></li>
            <li class=""><a href="#/course/vocational-training">职业培训</a></li>
            <li class=""><a href="#/course/outdoor-development">户外拓展</a></li>
            <li class=""><a href="#/course/barracks-life">军营集训</a></li>
            <li class=""><a href="#/course/wild-live">野外生存</a></li>
            <li class=""><a href="#/course/hiking">徒步穿越</a></li>
            <li class=""><a href="#/course/cs-fighting">CS野战</a></li>
            <li class=""><a href="#/course/fun-games">趣味运动会</a></li>
            <li class=""><a href="#/course/enterprise-annual-meeting">企业年会</a></li>
        </ul>
    </li>
    <li class="dropdown" style=""><a class="dropdown-toggle externalLink" data-toggle="dropdown"
                                                         data-target="#" href="//" target="_blank">青少年拓展<b
            class="caret"></b></a>
        <ul class="dropdown-menu" style="">
            <li class=""><a href="#/course/summer-and-winter-camp">夏冬令营</a></li>
            <li class=""><a href="#/course/quality-training">素质培训</a></li>
            <li class=""><a href="#/course/eighteen-adult-ceremony">十八岁成人礼</a></li>
            <li class=""><a href="#/course/outdoor-development">户外拓展</a></li>
            <li class=""><a href="#/course/barracks-life">军营集训</a></li>
            <li class=""><a href="#/course/hiking">徒步穿越</a></li>
            <li class=""><a href="#/course/cs-fighting">CS野战</a></li>
            <li class=""><a href="#/course/fun-games">趣味运动会</a></li>
            <li class=""><a href="#/course/campus-activities">校园活动</a></li>
        </ul>
    </li>
    <li class="dropdown" style=""><a class="dropdown-toggle externalLink" data-toggle="dropdown"
                                                         data-target="#" href="//" target="_blank">家庭拓展<b
            class="caret"></b></a>
        <ul class="dropdown-menu" style="">
            <li class=""><a href="#/course/outdoor-development">户外拓展</a></li>
            <li class=""><a href="#/course/barracks-life">军营集训</a></li>
            <li class=""><a href="#/course/hiking">徒步穿越</a></li>
            <li class=""><a href="#/course/cs-fighting">CS野战</a></li>
            <li class=""><a href="#/course/parent-child-interest-competitive">亲子趣味竞技</a></li>
            <li class=""><a href="#/course/outdoor-fishing">户外垂钓</a></li>
        </ul>
    </li>
    <li class="dropdown" style=""><a class="dropdown-toggle externalLink" data-toggle="dropdown"
                                                         data-target="#" href="//" target="_blank">VIP订制<b
            class="caret"></b></a>
        <ul class="dropdown-menu" style="">
            <li class=""><a href="#/course/vip-custom">VIP订制</a></li>
        </ul>
    </li>
    <li class="dropdown" style=""><a class="dropdown-toggle externalLink" data-toggle="dropdown"
                                                         data-target="#" href="//" target="_blank">金牌团队<b
            class="caret"></b></a>
        <ul class="dropdown-menu" style="">
            <li class=""><a href="#/course/vip-custom">VIP订制</a></li>
        </ul>
    </li>
</ul>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1814370"></script>
<!-- UY END -->
</body>
</html>