body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li{
    width: 200px;
    float: left;
}
h3{
    position: absolute;
    top: 10px;
    left: 18%;
    color: red;
    font-size: 26px;
    background-color: yellow;
}