<div class="row">
    <div class="col-md-12">
    <ol class="breadcrumb ">
        <li><a href="#">首页</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
    </div>
    <div class="col-md-8">
        <h2>{{title}}</h2>

        <p>{{content}}</p>
    </div>

</div>