<div class="row">
    <div class="col-md-12">
    <ol class="breadcrumb ">
        <li><a href="#">首页</a></li>
        <li><a href="#" class="">{{title}}</a></li>

    </ol>
    </div>
    <div class="col-md-8">
        <h2>{{title}}</h2>

        <p>{{content}}</p>
        <!-- UY BEGIN -->
        <!-- Duoshuo Comment BEGIN -->
        <div class="ds-thread" data-thread-key="{{title}}" data-title="{{title}}" data-url="{{title}}"></div>
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"dalianjinpai"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- Duoshuo Comment END -->
    </div>

</div>