<div class="row">


    <!-- 轮播 -->
    <div id="carousel-example-captions" class="carousel slide col-md-8 " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/221700e64931o9ss692whp.jpg" height="300" />

                <div class="carousel-caption">
                    <a href="#!cjtqhd"><h3>“春季踏青与拓展活动”火热报名中</h3>  </a>


                </div>
            </div>
            <div class="item ">
                <img alt="900x500" src="img/doc_1391928999125867988_files_image0.jpg" />

                <div class="carousel-caption">
                    <a href="#!vocational-training"><h3>“职业与综合素质测评”助阵企业与个人锦绣前程！</h3></a>


                </div>
            </div>
            <div class="item">
                <img alt="900x500" src="img/wDIAFlLOjNQYpiQD.jpg" />

                <div class="carousel-caption">
                    <a href="#!eighteen-adult-ceremony"><h3>“2014年首季十八岁成人礼”火热招募中</h3>  </a>


                </div>
            </div>
            <div class="item">
                <img alt="900x500" src="img/doc_1391227396326102709_files_image3.jpg" />

                <div class="carousel-caption">
                    <a href="#!wild-live-young"> <h3>“青少年周末一日军营生活体验”火热招募中</h3>   </a>


                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="col-md-4 ">
        <!--联系方式 -->


        <div class="contact">
            <span style="float: left;width: 100%;">联系方式
                <button style="float: right" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
                    在线留言
                </button>
            </span>
        </div>
        <div class="panel-body" id="contact">
            <p> 咨询顾问：18641157229 </p>

            <p>总教练：13841165262</p>

            <p>外协经理：15942414449</p>

            <p>电话与传真： 0411 - 86825206</p>

            <p>邮箱：service@dalianjinpai.com</p>

            <p> QQ：2107668761</p>

            <p>地址：辽宁省，大连市，沙河口区</p>

        </div>

    </div>
</div>

        <!--/金牌与您携手同行，打造专业体验式拓展与户外休闲一站式引领品牌-->
<div class="row">
<p class="tip_small "><span class="tip_1">金牌推荐课程套餐</span>

</p>
</div>
<h2 class="section"><span class="section">企业课程套餐</span></h2>
        <!-- Example row of columns -->
<div class="row course_content">
<div class="content col-md-7">

    <div class="home-story-cat">

        <!--img-contain-->
        <div class="story-text  col-md-12">
            <div class="cat-small">

                <a href="#/category/nfl/" title="View all posts in NFL" rel="category tag"></a>

            </div>
            <ul class="course">
                <li><a href="#!sdtz1"><strong>山地拓展一或二日训</strong><br>(内含：短时军训、登山拉练、山地设施拓展、山地场地拓展、CS野战)</a></li>
                <li><a href="#!httz"><strong>海滩拓展一或二日训</strong><br>（内含：短时军训、海滩场地拓展、海滩设施拓展、海滩篝火或军营之夜）</a></li>
                <li><a href="#!jytz"><strong>军营封闭拓展一或多日训</strong><br>（内含：军营生活体验、军营设施拓展、军营场地拓展、企业订制内训项目）</a>
                </li>
                <li><a href="#!qwydh"><strong>趣味运动会</strong><br>（内含：场地、趣味道具）</a></li>

            </ul>
        </div>
        <!--story-text-->
    </div>
    <!--home-story-cat-->

</div>
<div class="photograph col-md-5">
    <div class="pcarousel small-cat-story es-carousel-wrapper">
        <div class="es-carousel">
            <ul>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="金牌户外拓展" class="img-shadow">
                            <img width="145" height="95"  src="img/qy1.png"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image img-thumbnail " alt="football2"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">拓展活动</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Chandler turns down U.S. training camp invite" class="img-shadow">
                            <img width="145" height="95" src="img/qy2.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer4"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">徒步穿越</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="England ace keen to see how Brennan performs" class="img-shadow">
                            <img width="145" height="95" src="img/qy3.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer1"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;"
                       rel="bookmark">CS野战</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow">
                            <img width="145" height="95" src="img/qy4.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="baseball1"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">趣味运动会</a>
                </li>


            </ul>
        </div>
    </div>
</div>
</div>

<h2 class="section"><span class="section">青少年课程套餐</span></h2>
        <!-- 金牌与您携手同行，打造专业体验式拓展与户外休闲一站式引领品牌 -->
<div class="row course_content">
<div class="content col-md-7">

    <div class="home-story-cat">

        <!--img-contain-->
        <div class="story-text  col-md-12">
            <div class="cat-small">

                <a href="#/category/nfl/" title="View all posts in NFL" rel="category tag"> </a>

            </div>
            <ul class="course">
                <li><a href="#!summer-and-winter-camp"><strong>"自强、自立、感恩素质培养"主题夏、冬令营</strong><br> （军营5--10日训）</a></li>
                <li><a href="#!barracks-life-young"><strong>"放飞青春、留住感动"十八岁成人礼</strong><br>（中式成人礼，西式成人礼，二者任选，提前一月报名）</a></li>
                <li><a href="#!zmyrjy"><strong>周末一日军营生活体验</strong><br>（周五晚、周六全天，提前一周报名）</a></li>


            </ul>
        </div>
        <!--story-text-->
    </div>
    <!--home-story-cat-->

</div>
<div class="photograph col-md-5">
    <div class="pcarousel small-cat-story es-carousel-wrapper">
        <div class="es-carousel">
            <ul>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Jaguars&#8217; Knighton apologizes for nightclub fight" class="img-shadow">
                            <img width="145" height="95" src="img/qsn1.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="football2"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">冬令营</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Chandler turns down U.S. training camp invite" class="img-shadow">
                            <img width="145" height="95" src="img/qsn2.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer4"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">军营体验</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="England ace keen to see how Brennan performs" class="img-shadow">
                            <img width="145" height="95" src="img/qsn3.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer1"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;"
                       rel="bookmark">十八岁成人礼</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow">
                            <img width="145" height="95" src="img/qsn4.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="baseball1"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">拓展活动</a>
                </li>


            </ul>
        </div>
    </div>
</div>


</div>
<h2 class="section"><span class="section">家庭课程套餐</span></h2>
        <!-- Example row of columns -->
<div class="row course_content">
<div class="content col-md-7">

    <div class="home-story-cat">

        <!--img-contain-->
        <div class="story-text  col-md-12">
            <div class="cat-small">

                <a href="#/category/nfl/" title="View all posts in NFL" rel="category tag"> </a>

            </div>
            <ul class="course">
                <li><a href="#!sdyr"><strong>山地一日欢乐拓展</strong><br>（内含：短时登山、家庭山地拓展、CS野战）</a></li>
                <li><a href="#!jyyryyy"><strong>军营一日一夜体验拓展</strong><br>（内含：短时军训、军营内务体验、家庭军营拓展、家庭徒步障碍穿越）</a></li>
                <li><a href="#!jtqzqw"><strong>家庭亲子趣味竞技</strong><br>（内含：场地、趣味道具）</a></li>


            </ul>
        </div>
        <!--story-text-->
    </div>
    <!--home-story-cat-->

</div>
<div class="photograph col-md-5">
    <div class="pcarousel small-cat-story es-carousel-wrapper">
        <div class="es-carousel">
            <ul>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Jaguars&#8217; Knighton apologizes for nightclub fight" class="img-shadow">
                            <img width="145" height="95" src="img/jt1.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="football2"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">欢乐拓展</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Chandler turns down U.S. training camp invite" class="img-shadow">
                            <img width="145" height="95" src="img/jt2.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer4"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">亲子运动</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="England ace keen to see how Brennan performs" class="img-shadow">
                            <img width="145" height="95" src="img/jt3.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer1"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;"
                       rel="bookmark">徒步穿越</a>
                </li>
                <li class="col-md-6">
                    <div class="img-story">
                        <a href="javascript:;" rel="bookmark"
                           title="Manny to begin Triple-A stint, eyeing A&#8217;s debut" class="img-shadow">
                            <img width="145" height="95" src="img/jt4.jpg"
                                 class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="baseball1"/></a>
                    </div>
                    <!--img-story-->
                    <a href="javascript:;" rel="bookmark">篝火晚会</a>
                </li>


            </ul>
        </div>
    </div>
</div>
</div>


        <!--/金牌与您携手同行，打造专业体验式拓展与户外休闲一站式引领品牌-->
<div class="row">
<p class="tip "><span class="tip_1">金牌与众合作伙伴携手同行</span>
    <span class="tip_2">为广大企业、青少年打造人力资源专业素质教育与体验式拓展培训一站式服务品牌！</span>
</p>
</div>

<div class="row">
<!--/拓展训练场地-->
<div class="col-md-6">
    <h2 class="section"><span class="section">山地拓展基地</span></h2>

    <div class="col-md-12">
        <div class="pcarousel small-cat-story es-carousel-wrapper ">
            <div class="es-carousel tzjd">
                <ul>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="山地拓展基地1" class="img-shadow">
                                <img width="145" height="95" src="img/sdtz1.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="football2"/></a>
                        </div>
                        <!--img-story-->

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="山地拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/sdtz2.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer4"/></a>
                        </div>
                        <!--img-story-->

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;"
                               rel="bookmark"
                               title="山地拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/sdtz3.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer1"/></a>
                        </div>
                        <!--img-story-->

                    </li>


                </ul>
            </div>
        </div>
    </div>


    <!-- <script>
         $(function () {
             $('.pcarousel').elastislide({
                 imageW: 145,
                 minItems: 2,
                 margin: 10
             });
         })
     </script>-->
</div>

<div class="col-md-6">
    <h2 class="section"><span class="section">海滩拓展基地</span></h2>

    <div class="col-md-12">
        <div class="pcarousel small-cat-story es-carousel-wrapper ">
            <div class="es-carousel tzjd">
                <ul>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="海滩拓展基地"
                               class="img-shadow">
                                <img width="145" height="95" src="img/httz1.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="football2"/></a>
                        </div>
                        <!--img-story-->

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="海滩拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/httz2.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer4"/></a>
                        </div>
                        <!--img-story-->

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;"
                               rel="bookmark"
                               title="海滩拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/httz3.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer1"/></a>
                        </div>
                        <!--img-story-->

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <h2 class="section"><span class="section">军营拓展基地</span></h2>

    <div class="col-md-12">
        <div class="pcarousel small-cat-story es-carousel-wrapper ">
            <div class="es-carousel tzjd">
                <ul>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="军营拓展基地"
                               class="img-shadow">
                                <img width="145" height="95" src="img/jytz1.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="football2"/></a>
                        </div>
                        <!--img-story-->

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="军营拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/jytz2.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer4"/></a>
                        </div>
                        <!--img-story-->

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;"
                               rel="bookmark"
                               title="军营拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/jytz3.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer1"/></a>
                        </div>
                        <!--img-story-->

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <h2 class="section"><span class="section">运动场拓展基地</span></h2>

    <div class="col-md-12">
        <div class="pcarousel small-cat-story es-carousel-wrapper ">
            <div class="es-carousel tzjd">
                <ul>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="运动场拓展基地"
                               class="img-shadow">
                                <img width="145" height="95" src="img/ydctz1.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="football2"/></a>
                        </div>

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;" rel="bookmark"
                               title="运动场拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/ydctz2.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer4"/></a>
                        </div>

                    </li>
                    <li>
                        <div class="img-story">
                            <a href="javascript:;"
                               rel="bookmark"
                               title="运动场拓展基地" class="img-shadow">
                                <img width="145" height="95" src="img/ydctz3.jpg"
                                     class="attachment-small-thumb  img-responsive img-thumbnail  wp-post-image" alt="soccer1"/></a>
                        </div>

                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<script>
$(function () {
    var a1 = $(".tip_1");
    var a = $(".tip_2");
    var i = 16;
    var add_sign = true;
     /*var r=255,g= 0,b=0;
    window.setInterval(function () {
        if(r==255 && b!=255){
            a1.css("color","rgb("+r+","+g+","+(b++)+")");
        }
        else if(b==255&&r!=0){
            a1.css("color","rgb("+(r--)+","+g+","+b+")");
        }
        else if(r==0&&g!=255){
            a1.css("color","rgb("+r+","+(g++)+","+b+")");
        }
        else if(g==255&&b!=0){
            a1.css("color","rgb("+r+","+g+","+(b--)+")");
        }
        else if(b==0&&r!=255){
            a1.css("color","rgb("+(r++)+","+g+","+(b)+")");
        }
        else if(g==255&&b!=0){
            a1.css("color","rgb("+(r)+","+g+","+(b--)+")");
        }
    },1)*/
    var interval = window.setInterval(function () {


        if (add_sign) {
            a.css("font-size", (i++) + "px");
            if (i == 20) {
                add_sign = false;
            }
        }
        if (!add_sign) {
            a.css("font-size", (i--) + "px");
            if (i == 16) {
                add_sign = true;
            }
        }

    }, 1000 / 5)
})

</script>