{{#each this}}
<li>

    {{#if subMenu}}
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{title}}

        <b class="caret"></b>

    </a>
    {{else}}
    <a href="#/{{link}}">{{title}}   </a>
    {{/if}}

    {{#if subMenu}}
    <ul class="dropdown-menu">
        {{#each subMenu}}
        <li><a href="#/{{link}}">{{title}}</a></li>
        {{/each}}
    </ul>
    {{/if }}

</li>
{{/each}}