{{#each this}}
<li>


    <a class="dropdown-toggle" data-toggle="dropdown" href="http://#">{{title}}
        {{#if subMenu}}
        <b class="caret"></b>
        {{/if}}
    </a>
    {{#if subMenu}}
    <ul class="dropdown-menu">
        {{#each subMenu}}
        <li><a href="#/{{link}}">{{title}}</a></li>
        {{/each}}
    </ul>
    {{/if }}

</li>
{{/each}}